- form_for @starguard_ranking do |f|
  = f.error_messages
  %p
    = f.label :nation_id
    %br
    = f.text_field :nation_id
  %p
    = f.label :starguard_id
    %br
    = f.text_field :starguard_id
  %p
    = f.label :rank
    %br
    = f.text_field :rank
  %p
    = f.label :color
    %br
    = f.text_field :color
  %p
    = f.label :latitude
    %br
    = f.text_field :latitude
  %p
    = f.label :longitude
    %br
    = f.text_field :longitude
  %p
    = f.submit
